<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.laitec.androidwslaitec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermKTActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PermissionActivity">

        </activity>
        <activity android:name=".AssyncKotlinActivity"></activity>
        <activity android:name=".AssyncJavaActivity" />
        <activity android:name=".TasActivity" />
        <activity android:name=".HTTPUrlConJActivity" />
        <activity android:name=".HttpUrlConActivity" />
        <activity android:name=".HtmlKotlinActivity" />
        <activity android:name=".HTMLActivity" />
        <activity android:name=".ThradKotlinActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".RecyclerKotlinActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MainActivity" />
        <receiver android:name=".TestBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>